
<h3>Masuri de intretinere si verificare zilnice: @dataSelectata.ToString("dd-MM-yyyy")</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="min-width:400px">Actiuni de efectuat:</th>
            @for (int i = 0; i < DateTime.DaysInMonth(dataSelectata.Year, dataSelectata.Month); i++)
            {
                DayOfWeek day = new DateTime(dataSelectata.Year, dataSelectata.Month, i + 1).DayOfWeek;
                <th style=@(day == DayOfWeek.Saturday ? "background-color: yellow": day == DayOfWeek.Sunday ? "background-color: yellow": "background-color: grey")>@(i + 1)</th>
            }
        </tr>
    </thead>
    @if (ListaActiuniZilnice == null)
    {
        <tbody><tr><td><em>Loading...</em></td></tr></tbody>
    }
    else
    {
        <tbody>
            @*Lista Actiuni de bifat operator*@
            @foreach (var actiune in ListaActiuniZilnice)
            {
                <tr>
                    <td>
                        @actiune.Descriere
                    </td>
                    @foreach (var check in ListaVerificariZilnice.Where(obj => obj.ActiuneModelID == actiune.ActiuneModelID
&& obj.SefDeSchimb == null).
OrderBy(p => p.DataLucru).ToList())
                    {
                        <InputOpDaily check="@check" handleCheckByOperator="@handleCheckByOperator" />

                    }
                </tr>
            }
            @*Lista verificari sef de schimb*@
            <tr>
                <td>
                    <strong>Verificare sef de schimb: </strong>
                </td>
                @for (int i = 0; i < DateTime.DaysInMonth(dataSelectata.Year, dataSelectata.Month); i++)
                {
                    DateTime day = new DateTime(dataSelectata.Year, dataSelectata.Month, i + 1);
                    // Add only on monday weekly actions
            <td>
                <label>@day.ToString("dd.MM.yyyy")</label>
                @{var checkSef = ListaVerificariZilnice.FirstOrDefault(obj => obj.DataLucru.Year == day.Year
                                      && obj.DataLucru.Month == day.Month && obj.DataLucru.Day == day.Day
                                      && obj.SefDeSchimb != null);
                }
                @if (checkSef != null)
                {
                    <InputSefDaily check="@checkSef" handleCheckBySef="@handleCheckBySef" />
                }
            </td>
                }
            </tr>
        </tbody>
    }
</table>

@code {
    [Parameter]
    public DateTime dataSelectata { get; set; }

    [Parameter]
    public int utilajSelectatId { get; set; }
    [Parameter]
    public List<ActiuneModel> ListaActiuniZilnice { get; set; }
    [Parameter]
    public List<ActionCheckModel> ListaVerificariZilnice { get; set; }

    [Parameter]
    public EventCallback<int> handleCheckByOperator { get; set; }

    [Parameter]
    public EventCallback<int> handleCheckBySef { get; set; }

}