@model MVCWithBlazor.Models.ProblemaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProblemaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataIntroducere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataIntroducere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilajModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilajModel.Utilaj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemaDescriere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProblemaDescriere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentariuMentenanta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentariuMentenanta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsabilModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsabilModel.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermenFinalizare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermenFinalizare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastPersonUpdateRow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastPersonUpdateRow)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProblemaModelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
